.status {
  width: 130px;
  height: 30px;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 2px;
  color: #000000;
  padding: 8px 16px 8px 16px;
  border-radius: 26px;
  margin: auto;
  text-align: center;
}
