.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.616);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  z-index: 12;
}
.modal-content {
  width: 500px;
  padding: 20px 100px;
  border: 1px solid rgb(128, 128, 128);
  border-radius: 16px;
  height: fit-content;
  background-color: white;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  position: relative;
  top: 0;
  text-align: center;
}
.modal-content_close {
  position: absolute;
  top: 0px;
  right: 0;
  z-index: 10;
  cursor: pointer;
}

.current-claim {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.save-btn {
  margin: 10px;
}

.label {
  color: #bbb9b9;
  margin-bottom: 10px;
  font-size: 11px;
}

.claim_value {
  font-style: normal;
  font-weight: 800;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 2.5px;
  color: #000000;
  margin-top: 10px;
}

form {
  div {
    margin-top: 10px;
  }
}

.desc {
  font-size: 12px;
  margin: 0;
  overflow: auto;
  height: 200px;
}
