.regiser-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.register-block {
  display: flex;
  width: 50vw;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  padding: 10px 130px 10px 130px;
  position: relative;
  margin: auto;
}
.login-user-authorization_logo {
  margin-bottom: 10px;
}
.login-user-authorization_form {
  width: 50vh;
  display: flex;
  flex-direction: column;
}
.login-user_request-register {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #2d3436;
  text-align: center;
}
.login-user_request-register_link {
  text-decoration: none;
  color: blue;
}

.login-img_wrapper {
  background-color: rgba(211, 237, 225, 0.97);
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0%;
}
.login_img {
  width: 75%;
}

.error {
  color: red;
  display: flex;
  justify-content: center;
  margin-top: -20px;
  margin-bottom: 20px;
}

.form {
  width: 90%;
}

.register-input {
  margin: 30px;
}

.registered-modal {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  margin: auto;
  z-index: 11;
  background-color: #2d343642;
  display: flex;
  align-items: center;
  justify-content: center;
}

.registered-message {
  background: #2A0156;
  padding: 50px;
  font-size: 20px;
  border-radius: 26px;
  color: #ffffff;
}

.error {
  color: #cc1f1f;
  font-family: 16px;
  font-size: 12px;
  font-weight: 400;
  line-height: 32px;
}

.sign_in {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #2d3436;
  text-align: center;
}
