.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.616);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  z-index: 11;
}
.modal-content {
  width: 500px;
  padding: 20px 100px;
  border: 1px solid rgb(128, 128, 128);
  border-radius: 16px;
  height: fit-content;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  position: relative;
  top: 0;
}
.modal-content_close {
  position: absolute;
  top: 0px;
  right: 0;
  z-index: 10;
  cursor: pointer;
}

.current-claim {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.label {
  color: #bbb9b9;
  margin-bottom: 10px;
  font-size: 11px;
}

.desc {
  font-size: 12px;
  margin: 0;
  overflow: auto;
  height: 250px;
}
